@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?lz83m2');
  src:  url('../fonts/icomoon.eot?lz83m2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?lz83m2') format('truetype'),
    url('../fonts/icomoon.woff?lz83m2') format('woff'),
    url('../fonts/icomoon.svg?lz83m2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-circle-shape-outline:before {
  content: "\e907";
}
.icon-list-with-dots:before {
  content: "\e908";
}
.icon-plus-sign-in-a-black-circle:before {
  content: "\e909";
}
.icon-worker-loading-boxes:before {
  content: "\e90a";
}
.icon-two-cogwheels-configuration-interface-symbol:before {
  content: "\e900";
}
.icon-musica-searcher:before {
  content: "\e901";
}
.icon-rubbish-bin:before {
  content: "\e902";
}
.icon-pencil-edit-button:before {
  content: "\e903";
}
.icon-category:before {
  content: "\e904";
}
.icon-shopping-basket:before {
  content: "\e905";
}
.icon-dashboard:before {
  content: "\e906";
}

