@import 'reset';
@import 'font-icons'; 
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans');

$base_nav_color : #0f1e25;
$base_nav_color_light: lighten($base_nav_color, 5%);
$nav_width: 200px;
$font_size: 13px;
$letter_spacing: 0.03rem;
$form_border: #cfdadd;
$green_btn : #00b356;
$default_purple: #6254b2;
$default_blue: #19a9d5;
$default_yellow: #f9d21a;
$default_red: #ee3939;
$table_border_color: #cfdadd;

@mixin calc($key, $value) 							{ #{$key}: -webkit-calc(#{$value}); #{$key}: -moz-calc(#{$value}); #{$key}: calc(#{$value}); }
@mixin transitions($to,$duration,$type) 				{ -webkit-transition: $to $duration $type; -moz-transition: $to $duration $type; transition: $to $duration $type; }

html,body 											{ width: 100%; height: 100%;}
html 												{ font-family: 'Montserrat', sans-serif; }
body 												{}
h1,h2,h3 											{ font-weight: 500; }
h1 													{ font-size: 32px; }
h2 													{ font-size: 28px; }
h3 													{ font-size: 22px; }
.help-block 										{ margin: 0; }
.btn 												{ border: 0; border-radius: 0%; @include transitions(all,1s,ease); font-weight: 500; font-size: $font_size; letter-spacing: 0.03rem; text-transform: uppercase;  padding: 8px 20px; }
.btn-default 										{ background-color: $default_yellow; color: #fff;  
	&:hover, &:focus, &:active						{ color: #fff; background: darken( $default_yellow, 10%); }
}
.btn_add 											{ background-color: $green_btn; color: #fff; 
	&:hover, &:focus, &:active						{ color: #fff; background: darken( $green_btn, 10%); }
}
.btn_remove 										{ background-color: $default_red; color: #fff; 
	&:hover, &:focus, &:active						{ color: #fff; background: darken( $default_red, 10%); }
}
.loader 											{ width: inherit; height: inherit; background-color: rgba(255, 255, 255, 0.67); background-image: url(../images/flickr.gif);     background-repeat: no-repeat; background-position: 50%;  background-size: 65px; position: absolute; z-index: 1005; top: 0; 
	.mdl-progress 									{ width: 100%; position: absolute; top: 50%; }
}
// .divider 											{ border-top: 1px $form_border solid;  margin: 20px 0; }
.dashboard 											{ height: inherit; width: inherit; padding: 0;
	.navbar 										{ z-index: 999; background-color: #fff; border: 0; height: 50px; 
		.navigation_items 							{ padding-top: 10px;  padding-right: 15px; 
			ul 										{ padding: 0;
				li 									{ position: relative; }
			}
		}
	}
	
	.left_nav 										{ width: $nav_width; position: fixed; height: inherit; background: $base_nav_color; z-index: 1001; 
		.head 										{ 
			.title 									{ color: #fff; font-size: 19px; padding: 15px 10px; text-align: center; background: $base_nav_color_light; height: 50px; }
			.user 									{ padding: 15px 10px; color: #fff; width: 100%;	border-bottom: 1px $base_nav_color_light solid;
				.user_img 							{ width: 50px; height: 50px; display: block; margin: auto;  background: $base_nav_color_light; border-radius: 50%;  }
				ul 									{ margin-top: 10px; 
					li 								{ line-height: $font_size + 1;
						&.user_name					{ text-align: center; font-weight: 300; font-size: $font_size - 1; letter-spacing: $letter_spacing; }
						&.user_role					{ text-align: center; font-weight: 300; font-size: $font_size - 4; letter-spacing: $letter_spacing; }
						
					}
				}

			}
		}
		.body										{ 
			ul 										{
				li 									{
					ul.nav_item  					{
						a 							{  font-size: $font_size - 1; letter-spacing: $letter_spacing; }
					}
					a 								{ padding: 10px 20px; font-size: $font_size - 1; position: relative; display: block; text-decoration: none; color: #fff;  letter-spacing: $letter_spacing; border-bottom: 1px $base_nav_color_light solid;
						i 							{ font-size: 14px; vertical-align: text-top; margin-right: 5px;}
						&:hover  					{ background: $base_nav_color_light; }
						&:focus  					{ background: $base_nav_color_light; }
						&.heading 					{
							&.active  				{ background: transparent; /* darken(, 3%);*/ }
						}
						&.active  					{ background: $default_blue /* darken(, 3%);*/ }

						span.caret 					{ margin-top: 6px; }
					}
				}
			}  
		}
	}

	.right_content 									{ @include calc('width','100% - '+ $nav_width); height: auto; min-height: 100%;  float: right; position: relative; background: #f1f1f1;
		.wrapper 									{ height: inherit; width: 100% ; padding-top: 50px;
			.page 									{ padding: 25px; height: inherit; width: inherit;  
				.head 								{ margin-bottom: 20px; overflow: hidden;
					h2 								{ font-size: $font_size + 12; margin-bottom: 15px; float: left; }
					.breadcrumb 					{ float: right; font-size: $font_size - 2; background: none;  margin: 0;}
					button 							{ font-size: $font_size - 1; letter-spacing: $letter_spacing; background: $default_purple; font-weight: 500; font-family: inherit; line-height: 32px; height: auto; 
						&:hover 					{ background: darken($default_purple, 10%); }
					}
				}
				.body 								{ padding: 20px; margin-bottom: 50px; background: #fff; box-shadow: 0px 1px 6px rgba(0,0,0,0.15);  font-size: $font_size - 1 ;
					.item_img 						{ background: #f1f1f1; height: 250px; border: 1px $form_border solid; width: 100%; position: relative; 
						input 						{ position: absolute; width: 100%; height: 100%; opacity: 0; cursor: pointer; }
					}
					.price_column 					{ background: #f9f9f9; border: 1px $form_border solid; margin: 20px 0; padding: 20px 0; }
					.dataTables_length 				{ margin-bottom: 15px; }
					.dataTables_info, 
					.dataTables_paginate 			{ font-size: $font_size - 2; margin-top: 10px; }
					.paginate_button 				{ padding: 3px; }
					.dataTables_filter 				{
						input 						{ border: 1px #d0d0d0 solid; padding: 3px 5px; }
					}
					table 							{ 
						&.table						{ font-size: $font_size - 1 ; margin-bottom: 0; }
						&.dataTable 				{ border: 0;  border: 1px $table_border_color solid; width: 100% !important;
							thead 					{ 
								th 					{ font-weight: 500; border: 0;  border-right: 1px $table_border_color solid; /*white-space: nowrap; text-overflow: ellipsis;*/
									&:last-child 	{ border-right: 0; width: 50px;  }
								}
							}
							tbody 					{
								tr 					{
									td 				{ border : 0; border-top: 1px $table_border_color solid; border-right: 1px $table_border_color solid; 
										&:last-child{ border-right: 0; text-align: center;
											a 		{ margin-right: 5px; text-decoration: none; color: $default_purple; 
												&:hover {  color: darken($default_red, 15%) }
											}
										}
									}
								}
							}
						}
					}  
				}
			} 
		}
	} 
}


form.form-horizontal 								{
	.form-group 									{ margin-bottom: 10px;
		.related_input, .options					{ 
			label 									{ font-weight: 400; font-size: 12px; margin-bottom: 0; }
			input[type=checkbox], input[type=radio] { margin-top: 0; }
		}
		.related_input 								{ margin-top: 30px;  }
		.input-group-addon 							{ background: #fff; border-radius: 0; border-color: $form_border;  }
		label 										{ font-weight: 500; font-size: $font_size; margin-bottom: 7px; text-align: left; color: #3c3c3c;
			small 									{ font-weight: 400; font-size: $font_size - 3; float: right; color: #f30b0b; }
		}

		label.error 								{ margin-bottom: 0; font-size: $font_size - 2; font-weight: 400; color: #f30b0b; margin-top: 5px; }
		.form-control 								{ border: 1px $form_border solid; border-radius: 0; box-shadow: none;  font-size: $font_size;  color: $base_nav_color;    letter-spacing: 0.03rem;
			&:hover, &:focus 						{ border: 1px darken($form_border,20%) solid; box-shadow: none; outline: 0; }
			&.error 								{ border: 1px solid #f30b0b;  }
		}
	}
}

.form-control[disabled], .form-control[readonly], 
fieldset[disabled] .form-control 					{ background-color: #f7f7f7; }
.select2-container--default .select2-selection--single { height: 34px; line-height: 34px; width: 100%; border-radius: 0; border: 1px $form_border solid;  }
.select2-container--default .select2-selection--single .select2-selection__rendered { line-height: 34px; }
.select2-results__option							{ padding: 10px; font-size: $font_size; }
button.btn_cancel 									{ float: right; margin-left: 5px; }

.short_modal 										{
	.modal-dialog 									{ width: 400px; }
	.modal-footer 									{ 
		button.btn									{ padding: 6px 15px; font-size: $font_size  - 1; text-transform: capitalize; }
	}
}
.modal												{ font-family: 'Montserrat', sans-serif;
	.modal-dialog 									{ 
		.modal-title 								{ font-size: $font_size; text-transform: uppercase; letter-spacing: 0.03rem; font-weight: 500;}
		.modal-content 								{ border-radius: 0;
			.modal-header 							{ padding: 12px 15px; background: $base_nav_color;  color: #fff; }
			.modal-body 							{ font-size: $font_size; }
			.modal-footer 							{ padding-top: 0; border: 0;  }
		}
	}
}
